<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>Board Form</title>
</head>
<body>

	
	<div>
		<div>
			<h1>게시글 등록</h1>
		</div>
		<br/>
		<input id="board_idx" type="hidden" th:value="${board?.idx}"/>
		<table>
			<tr>
				<th style="padding:13px 0 0 15px">게시판 선택</th>
				<td>
					<div>
						<select id="board_type">
							<option>-분류-</option>
							<option th:value="notice" th:selected="${board?.boardType?.name() 
							== 'notice'}">공지사항</option>
							<option th:vallue="free" th:selected="${board?.boardType?.name()
							== 'free'}">자유게시판</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">생성 날짜</th>
				<td>
					<input type="text" readonly="readonly" th:value="${board?.createdDate} ? 
					${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')} : ${board?.createdDate}"/>
				</td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">제목</th>
				<td>
					<input id="board_title" type="text" th:value="${board?.title}"/>
				</td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">부제목</th>
				<td>
					<input id="board_sub_title" type="text" th:value="${board?.subTitle}"/>
				</td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">부제목</th>
				<td>
					<textarea id="board_content" maxlength="140" rows="7" style="height: 200px;" 
					th:text="${board?.content}"></textarea>
					<span></span>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
		<div>
			<a href="/board/list">목록으로</a>
		</div>
		<div>
			<button th:if="!${board?.idx}" type="button" id="insert">저장</button>
			<button th:if="${board?.idx}" type="button" id="update">수정</button>
			<button th:if="${board?.idx}" type="button" id="delete">삭제</button>
		</div>
	</div>
	

</body>
</html>