<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>Board List</title>
</head>
<body>

	
	<div>
		<div>
			<h1>게시글 목록</h1>
		</div>
		<div style="width:100px;margin:10px 0;">
			<a href="/board">등록</a>
		</div>
		<br/><br/><br/>
		
		<div id="mainHide">
			<table>
				<thead>
				<tr>
					<th>#</th>
					<th>서비스 목록</th>
					<th>제목</th>
					<th>작성 날짜</th>
					<th>수정 날짜</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="board : ${boardList}">
						<td th:text="${board.idx}"></td>
						<td th:text="${board.boardType.value}"></td>
						<td><a th:href="'/board?idx='+${board.idx}" th:text="${board.title}"></a></td>
						<td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
						<td th:text="${#temporals.format(board.updatedDate, 'yyyy-MM-dd HH:mm')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<nav aria-label="Page navigation" style="text-align:center;">
			<ul style="list-style:none; margin:0;padding:0;" th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, 
			endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : 
			${boardList.totalPages}">
				<li style="float: left;border : 1;padding: 0 0 0 0;">
					<a href="/board/list?page=1">&laquo;</a>
				</li>
				<li th:style="${boardList.first} ? 'display:none'" style="float: left;border : 1;padding: 0 0 0 0;">
					<a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
				</li>
				<li style="float: left;border : 1;padding: 0 0 0 0;" th:each="page : ${#numbers.sequence(startNumber, endNumber)}" 
				th:class="(${page} == ${boardList.number}+1) ? 'active'">
					<a th:href="@{/board/list(page=${page})}" th:text="${page}">
						<span></span>
					</a>
				</li>
				<li style="float: left;border : 1;padding: 0 0 0 0;" th:style="${boardList.last} ? 'display:none'">
					<a th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a>
				</li>
				<li style="float: left;border : 1;padding: 0 0 0 0;">
					<a th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a>
				</li>
			</ul>
		</nav>
		
	</div>
	
	

</body>
</html>